<!DOCTYPE html>

<html>
  <head>
    <title>My ThreeJS Project</title>
    <style src="../css/style.css"></style>
  </head>
  <body>
    <canvas id="c">
    </canvas>
  </body>
  <script src="../index.js"></script>
</html>